html, body {
    height: 100%;
    padding: 0;
    background-color: rgb(211, 231, 245);  
    
    color: #303030;
    font: Verdana, Arial, Sans-Serif;
}



article {
    text-align: justify;
}

header {
    color: rgb(52, 98, 184);
    text-align: center;
    background-color:rgb(255, 233, 187);
    font-family: Georgia, serif;
}

footer {
    text-align: center;
}

main {
    margin: auto;
    width: 600px;
    position: relative;
}

img.floatLeft {
    
    margin-right: 0px;
    width: 100%
}

img.afbeeldingSchip1 {
    width:100%;
}

header{
    text-align: center;
}

/*https://www.w3schools.com/css/css_image_gallery.asp en example is https://www.w3schools.com/css/tryit.asp?filename=trycss_image_gallery*/
div.metLink{
    width: 180px;
    border: 1px solid rgb(184, 184, 184)
}


div.metLink:hover {
    border: 1px solid #4CAF50
}


div.metLink img {
    width: 100%;
    height: auto;
    float: left; /*werkt niet*/
}

div.desc {
    text-align: center;
}


div.tekst-midden{
    text-align: center;
}

div.tekst-middenGroot{
    text-align: center;
    size: 20px; /* IK WEET NIET HOE JE DE TEKST GROOTTE AANPAST!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/

}

div.tekst-rechts{
    color: rgb(51, 150, 150);`
    float: none;
}

/* links in activiteiten */
div.linksActiviteiten{
    width: 50%;
    border: 1px solid rgb(184, 184, 184)
}


div.linksActiviteiten:hover {
    border: 1px solid #4CAF50
}


div.linksActiviteiten img {
    width: 100%;
    height: auto;
    float: left; /*werkt niet*/
}

div.desc {
    text-align: center;
}

div.descContinenten {
    text-align: center;   
    text-size-adjust: 30px;  /*WERKT NIET DUS DE TEKST MOET OOK NOG GROTER GEMAAKT WORDEN*/
}


/*crew*/


div.crew img {
    width: 50%;
    height: auto;
    float: left;
}

/*Zkinderen*/

div.Zkinderen img {
    width: 50%;
    height: auto;
    float: none;
}

/*continenten*/

div.continenten{
    width: 100%;
    border: 1px solid rgb(184, 184, 184)
}


div.continenten:hover {
    border: 1px solid #4CAF50
}


div.continenten img {
    width: 100%;
    height: auto;
    float: left; /*werkt niet*/
}

.afbeeldingen-Europa {
    width: 40%;
}

.afbeeldingen-Azie {
    width: 40%;
}

.afbeeldingen-Amerika {
    width: 40%;
}

.afbeeldingen-binnen1{
    width: 100%;
}

/*div onze schepen*/

div.schepenLink{
    border: 1px solid rgb(184, 184, 184)
}


div.schepenLink:hover {
    border: 1px solid #4CAF50
}


div.schepenLink img {
    width: 100%;
    height: auto;
}

div.descSchepen {
    text-align: center;
}



.smalltext {
    font-size: 0.7em;
}


/* navigatie balk */
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #f1f1f1;
}

li a {
    display: block;
    color: #000;
    padding: 18px 16px;
    text-decoration: none;
    float: left;
}

li.active { /*WERKT NIEEEETTT!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
    background-color: rgb(108, 152, 184);
    color: white;
}


/*dropdown*/


li a:hover, .dropdown:hover .dropbtn {
  background-color: rgb(147, 210, 255);
}

li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: relative;
  background-color: #f9f9f9;
  min-width: 200px;
}

.dropdown-content a {
  color: black;
  text-decoration: none;
  display: block;
  text-align: center;
}

.dropdown-content a:hover {
  background-color: #555555;
  }

.dropdown:hover .dropdown-content {
  display: block;
}


/* Change the link color on hover */
li a:hover {
    background-color: #555;
    color: white;
}

li.active {
    background-color: rgb(108, 152, 184);
    color: white;
}

/*
    width:233px;
    height: 35px;
    line-height: 50%;*/